.head {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
}

.products {
    padding: 40px;
}
.body {
    display: flex;
    column-gap: 26px;
    flex-wrap: wrap;
}
.empty {
    margin: 0 auto;
    margin-bottom: 60px;
}

@media (max-width: 1025px) {
    .body {
        column-gap: 25px;
        max-width: 890px;
        margin: 0 auto;
    }
}
@media (max-width: 769px) {
    .body {
        max-width: 585px;
    }
}
@media (max-width: 426px) {
    .body {
        justify-content: center;
    }
}